
<ion-view hide-nav-bar="true">
  <ion-content>
<!--style="background-image: url('./img/bdIcon.png');"-->
    <div class="ionic login blue" >
      <div class="hero no-header flat">
        <div class="content">
          <i class="ion-map icon hero-icon royal-bg"></i>
          <h1>Brain Dare</h1>
        </div>
      </div>
      <div class="list">
        <label class="item item-input item-md-label" placeholder="Username" highlight-color="balanced" type="text"><input type="text" ng-model="login.email"><span class="input-label">Username</span><div class="highlight highlight-balanced"></div></label>
        <label class="item item-input item-md-label" placeholder="Password" highlight-color="energized" type="password"><input type="password" ng-model="login.pwd"><span class="input-label">Password</span><div class="highlight highlight-energized"></div></label>
      </div>
      <div class="padding">
        <button class="button button-block cyan white_text waves-effect waves-button waves-light" ng-click="login.emailLogin(login.email, login.pwd)">Login</button>
      </div>
      <div class="button-bar">
        <a class="button button-small button-outline button-balanced white light-bg waves-effect waves-button waves-light white_text" ui-sref="register"> Sign In </a>
        <button class="button button-small button-outline button-positive white light-bg icon-left ion-social-facebook waves-effect waves-button waves-light" ng-click="login.facebook()">Facebook</button>
      </div>
    </div>






    <!--<section class="login-container login">-->
      <!--<div class = "col header text-center">-->
        <!--<img src="./img/bdIcon.png" class = "logo" />-->
      <!--</div>-->
      <!--<div class = "col button-row">-->
        <!--&lt;!&ndash;<form name="login.loginForm" novalidate>&ndash;&gt;-->
          <!--<div class="list">-->
            <!--<label class="item item-input item-floating-label">-->
              <!--<span class="input-label white_text">Email</span>-->
              <!--<input type="email" placeholder="Email" ng-model="login.email">-->
            <!--</label>-->
            <!--<label class="item item-input item-floating-label">-->
              <!--<span class="input-label white_text">Password</span>-->
              <!--<input type="password" placeholder="Password" ng-model="login.pwd">-->
            <!--</label>-->
          <!--</div>-->
          <!--<div class="padding">-->
            <!--<button  class="button button-block cyan white_text" ng-click="login.emailLogin(login.email, login.pwd)">Access</button>-->
          <!--</div>-->

      <!--</div>-->
      <!--<div class = "col button-row text-center white_text">-->
        <!--OR-->
      <!--</div>-->

      <!--<div class = "col button-row text-center">-->
        <!--<button  class="button icon-left ion-social-facebook button-positive button-full"  ng-click="login.facebook()">Connect with Facebook</button>-->
        <!--<a class="white_text"ui-sref="register">New Here? Sign In !</a>-->

      <!--</div>-->


      <!--&lt;!&ndash;<div class = "col button-row ">&ndash;&gt;-->
      <!--&lt;!&ndash;&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</section>-->




    <!---->
    <!---->
    <!--<div class="card">-->
    <!--&lt;!&ndash; The content of the page &ndash;&gt;-->
    <!--<form name="login.loginForm" novalidate>-->
      <!--<div class="list">-->
        <!--<label class="item item-input item-floating-label">-->
          <!--<span class="input-label">Email</span>-->
          <!--<input type="email" placeholder="Email" ng-model="user.email">-->
        <!--</label>-->
        <!--<label class="item item-input item-floating-label">-->
          <!--<span class="input-label">Password</span>-->
          <!--<input type="password" placeholder="Password" ng-model="user.password">-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="padding">-->
        <!--<button  class="button button-block button-balanced">Access</button>-->
      <!--</div>-->
      <!--<div class="padding">-->
      <!--<span class="col-center">OR</span>-->
        <!--</div>-->
      <!--<div class="padding">-->
      <!--<button  class="button icon-center ion-social-facebook button-positive button-full"  ng-click="login.facebook()" ng-hide="authData"></button>-->
      <!--</div>-->
    <!--</form>-->
    <!--<div class="card" ng-show="authData">-->
      <!--<img ng-src="{{authData.facebook.cachedUserProfile.picture.data.url}}" />-->
      <!--<span>Welcome back {{authData.facebook.displayName}}</span>-->
    <!--</div>-->

    <!--<button ng-click="login.logout()" ng-show="authData">Logout</button>-->
    <!--</div>-->
  </ion-content>
</ion-view>
