
<!--<ion-pane id="welcome" class="welcomePane">-->
  <!--<h1 class="title">Dare to Take the first step to changing your life!!</h1>-->

  <!--<ion-footer-bar>-->
    <!--<a class="full_width button button-assertive" ng-click="login.login()" >-->
      <!--Lets Go !!-->
    <!--</a>-->
  <!--</ion-footer-bar>-->
<!--</ion-pane>-->
<ion-view hide-nav-bar="true">
  <ion-content>

    <!--<div class="hero no-header flat">-->
      <!--<div class="content">-->
        <!--<div class="app-icon"> <img src="./img/bdIcon.png" class = "logo" /></div>-->
        <!--<h1>Brain Dare</h1>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="list">-->
      <!--<ion-md-input placeholder="Email" ng-model="login.email" highlight-color="balanced" type="text"></ion-md-input>-->
      <!--<ion-md-input placeholder="Password" ng-model="login.pwd" highlight-color="energized" type="password"></ion-md-input>-->
    <!--</div>-->
    <!--<div class="padding">-->
      <!--<button ui-sref="app.profile" class="button button-full button-assertive ink" ng-click="login.emailLogin(login.email, login.pwd)">Login</button>-->
    <!--</div>-->
    <!--<div class="padding">-->
      <!--<a ui-sref="register">New Here? Sign In !</a>-->
    <!--</div>-->
    <!--<div class="button-bar social-login">-->
      <!--<button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>-->
      <!--<button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>-->
      <!--<button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click="login.facebook()">Facebook</button>-->
    <!--</div>-->






    <section class="login-container">
      <div class = "col header text-center">
        <img src="./img/bdIcon.png" class = "logo" />
      </div>

      <div class = "col text-center">
        <button  class="button icon-left ion-social-facebook button-positive button-full"  ng-click="login.facebook()">Connect with Facebook</button>

      </div>

      <div class = "col button-row text-center">
        OR
      </div>

      <div class = "col button-row">
        <!--<form name="login.loginForm" novalidate>-->
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="email" placeholder="Email" ng-model="login.email">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="Password" ng-model="login.pwd">
            </label>
          </div>
          <div class="padding">
            <button  class="button button-block button-balanced" ng-click="login.emailLogin(login.email, login.pwd)">Access</button>
          </div>
          <!--</form>-->
      </div>

      <div class = "col button-row">
        <a ui-sref="register">New Here? Sign In !</a>

      </div>
    </section>




    <!---->
    <!---->
    <!--<div class="card">-->
    <!--&lt;!&ndash; The content of the page &ndash;&gt;-->
    <!--<form name="login.loginForm" novalidate>-->
      <!--<div class="list">-->
        <!--<label class="item item-input item-floating-label">-->
          <!--<span class="input-label">Email</span>-->
          <!--<input type="email" placeholder="Email" ng-model="user.email">-->
        <!--</label>-->
        <!--<label class="item item-input item-floating-label">-->
          <!--<span class="input-label">Password</span>-->
          <!--<input type="password" placeholder="Password" ng-model="user.password">-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="padding">-->
        <!--<button  class="button button-block button-balanced">Access</button>-->
      <!--</div>-->
      <!--<div class="padding">-->
      <!--<span class="col-center">OR</span>-->
        <!--</div>-->
      <!--<div class="padding">-->
      <!--<button  class="button icon-center ion-social-facebook button-positive button-full"  ng-click="login.facebook()" ng-hide="authData"></button>-->
      <!--</div>-->
    <!--</form>-->
    <!--<div class="card" ng-show="authData">-->
      <!--<img ng-src="{{authData.facebook.cachedUserProfile.picture.data.url}}" />-->
      <!--<span>Welcome back {{authData.facebook.displayName}}</span>-->
    <!--</div>-->

    <!--<button ng-click="login.logout()" ng-show="authData">Logout</button>-->
    </div>
  </ion-content>
</ion-view>
