<div class="content">
    <!--<button class="button button-energized" ng-click="addImage()">-->
      <!--Add image-->
    <!--</button><br><br>-->
<h1>Hi</h1>
      <!--<img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>-->
  <a ng-href="/login" > Login if you have an account already !</a>
<form ng-submit="register.addUser()">

  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Name</span>
      <input type="text" placeholder="Name" ng-model="register.user.name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="Email" ng-model="register.user.email">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="password" placeholder="Password" ng-model="register.user.password">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Age</span>
      <input type="number" placeholder="Age" ng-model="register.user.age">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Gender</span>
      <input type="text" placeholder="Gender" ng-model="register.user.gender">
    </label>
  </div>
  <div class="padding">
    <button  class="button button-block button-positive">Create Greatness</button>
   </div>

</form>

</div>


