<ion-view title="Self Dare">
  <ion-content>
      <div class="well">
        <ion-nav-buttons side="left">
          <button class="button" ng-click="$ionicGoBack($event)"><i class="ion-arrow-left-c"></i> Back</button>
        </ion-nav-buttons>

        <h4>Add Item</h4>

        <form class="form-inline" role="form" novalidate ng-submit="self.addItem()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="self.newItem.name" placeholder="Name">
          </div>

          <button type="submit" class="btn btn-default">Add</button>
        </form>
      </div>

    <ion-list>
      <div class="card" ng-repeat="card in self.items">

        <div class="item item-text-wrap">
          {{card.name}}
        </div>
        <div class="item item-divider">
          <a ng-click="self.removeItem(card)">Remove</a>
        </div>
      </div>
    </ion-list>
      <!--<div class="card" ng-repeat="card in self.items">-->

        <!--<div class="item item-text-wrap">-->
          <!--{{card.name}}-->
        <!--</div>-->
        <!--<div class="item item-divider">-->
          <!--<a ng-click="self.removeItem(card)">Remove</a>-->
        <!--</div>-->
      <!--</div>-->
  </ion-content>
</ion-view>
