.welcomePane {
  background-color: #7CBAD2;
  padding: 20%;
  /*text-shadow: 0px -2px 0px #333,*/
  /*0px 2px 3px #666;*/
  /*color: #353535;*/
  /*text-transform: uppercase;*/
  /*font-size: 60px;*/
  /*font-weight: 800;*/
  text-align: center
}

.full_width{
  width:100%
}

i.ion-ios-heart {
  font-size: 50px;
}

.cyan{
  background-color: #179a99;
}

.white_text{
  color: white;
}

.blue{
  background-color: #304158;
}

.white{
  background-color: white;
}
